@import url("https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Open+Sans:400,600,700");

body {
  font-family: "Open Sans" !important;
}

/* Public */
a {
  text-decoration: none !important;
}

.form-container {
  margin: auto;
  width: 70%;
}

.list-group-item {
  list-style: none !important;
  padding-top: 6px;
}

.fs-7 {
  font-size: 14px;
}

.mt-6 {
  margin-top: 72px;
}

.pb-6 {
  padding-bottom: 72px;
}

.py-5a {
  padding-top: 64px;
  padding-bottom: 64px;
}

.p-50 {
  padding-left: 40%;
}

.bg-custom-red {
  background-color: #ed5440;
}

.bg-purple {
  background-color: #d866b2;
}

.bg-green {
  background-color: #4ac467;
}

.bg-blue {
  background-color: #2aaef0;
}

.w-30 {
  width: 30%;
}

.w-32 {
  width: 32%;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}

.gap-6 {
  gap: 6rem;
}

/* Navbar */

header {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.nav-link:hover {
  color: #76787e !important;
}

#navbarNavAltMarkup {
  justify-content: flex-end !important;
}

.nav-link.active {
  color: #238bea !important;
}

.nav-pills .nav-link.active {
  background-color: whitesmoke !important;
}

/* Carousel */
#pricing-carousel {
  padding-left: 30%;
  padding-right: 30%;
}

.carousel-caption {
  right: 0 !important;
  left: 0 !important;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

#text-carousel .active {
  width: 12px !important;
  height: 12px !important;
}

/* Modal */
.modal-dialog {
  max-width: 1000px !important;
}

.card-header__price {
  font-family: "Noto Serif";
}

/* Button */

.btn {
  background-color: #328cca !important;
  border: 0 !important;
}

.btn--circle {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
  border: black !important;
  border-width: 1px !important;
  border-style: solid !important;
}

.btn--yellow {
  background-color: #cd7b2e !important;
  color: white !important;
}

.btn--google {
  background-color: white !important;
  color: black !important;
}

.btn--brightBlue {
  background-color: #4c4ddc !important;
  color: white !important;
}

/* Responsive */
@media screen and (min-width: 992px) {
  .w-lg-32 {
    width: 32% !important;
  }

  .w-lg-60 {
    width: 60% !important;
  }
}

@media screen and (min-width: 768px) {
  .w-md-30 {
    width: 30% !important;
  }
}

@media screen and (min-width: 992px) {
  .w-lg-100 {
    width: 100% !important;
  }
}
